*{
    margin: 0;
    margin: 0;
    font-family: "lato",sans-serif;
}
body{
    width: 100vh;
    height: 100vh;
    display: flex;
    background-color: rgb(13, 0, 69);
    justify-items: center;
    align-items: center;
}
.hed1{
    text-align: center;
    color: rgb(75, 136, 148);
    justify-content: center;
    margin-left: 150px;
}
h1{
    color: #ffffff;
    text-align: center;
    margin-bottom: 5px;
}
p{
    margin-bottom: 25px;
}
.inputx{
    display: flex;
    height: 70px;
    width: 150p;
    gap: 8px;
    
    

}
.inputx input{
    width: 60px;
    cursor: none;
    pointer-events: none;
    text-align: center;
    font-size: 36px;
    padding: 6px;
    
}
.digtel:focus{
    outline: none;
}
.digtel:nth-child(1){
    cursor: pointer;
    pointer-events: all;
    
}
